{% extends 'base.html' %} {% block body %} ng-app="pollApp" {% endblock %} {% block header %} Posts {% endblock %} {% block content %}
<div ng-controller="postListController">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-12">
                    <mapbox map-id="mattmartz.e71a5e8b" lat="38.9152427" lng="-77.0128203" on-reposition="mapMovedCallback" on-zoom="mapZoomedCallback" zoom="15" scale-to-fit>
                        <marker lat="38.9152427" lng="-77.0128203" color="#000000" size="large">
                            <h1>Boundary Stone</h1>
                            <p>@BoundaryStoneDC</p>
                        </marker>
                        <marker ng-repeat="post in location_posts" lat="[[post.lat]]" lng="[[post.lon]]" color="[[post.color]]">
                            <h1>[[post.content]]</h1>
                            <p>@[[post.name]]</p>
                        </marker>
                        <marker ng-repeat="ep in exchange_points" lat="[[ep.lat]]" lng="[[ep.lon]]" size="small">
                            <h1>[[ep.name]]</h1>
                        </marker>
                        <marker current-location color="#39cc39" size="small"></marker>
                    </mapbox>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h3 class="tweets-header">Tweets</h3>
                <div class="col-xs-12 tweets">
                    <div ng-repeat="tweet in tweets">
                        <h4 ng-if="tweet.known_user"><a href="https://twitter.com/[[tweet.user_name]]">[[tweet.name]]</a> <span class="text-muted">Verified</span></h4>
                        <h4 ng-if="!tweet.known_user"><a href="https://twitter.com/[[tweet.user_name]]">@[[tweet.user_name]]</a></h4>
                        <span ng-if="tweet.new" class="text-danger">NEW:  </span><span>[[tweet.content_date | date]]</span>
                        <div class="row">
                            <div class="col-xs-12">
                                [[tweet.content]]
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row" ng-if="instas.length > 0">
                <h3>Instagrams (#stoneragnarteam)</h3>
                <div class="col-xs-1 insta" ng-repeat="insta in instas">
                    <a ng-href="[[insta.image]]"><img class="img-responsive" ng-src="[[insta.thumbnail]]" /></a>
                    <h4><a href="https://instagram.com/[[insta.user_name]]">[[insta.name]]</a> <span ng-if="insta.known_user" class="text-muted">Verified</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block javascript %}
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<script src="{{ STATIC_URL }}js/angular.js"></script>
<script src="{{ STATIC_URL }}js/angular-ui-router.min.js"></script>
<script src="{{ STATIC_URL }}js/leaflet.markercluster.js"></script>
<script src="{{ STATIC_URL }}js/angular-mapbox.min.js"></script>
<script src="{{ STATIC_URL}}js/app.js"></script>
<script src="{{ STATIC_URL}}js/controllers.js"></script>
<script src="{{ STATIC_URL}}js/directives.js"></script>
<script src="{{ STATIC_URL}}js/services.js"></script>
{% endblock %}
