{% extends 'base.html' %} {% block body %} ng-app="pollApp" {% endblock %} {% block header %} Tweets {% endblock %} {% block content %}
<div ng-controller="tweetListController">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-xs-12">
                    <mapbox map-id="mattmartz.e71a5e8b"
          lat="38.9152427"
          lng="-77.0128203"
          on-reposition="mapMovedCallback"
          on-zoom="mapZoomedCallback"
          zoom="12" scale-to-fit>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Tweets</h3>
                    <pre>[[tweets]]</pre>
                    <hr />
                    <h3>Team Stats</h3>
                    <pre>[[teamstats]]</pre>
                    <hr />
                    <h3>Member Stats</h3>
                    <pre>[[memberstats]]</pre>
                    <hr />
                    <h3>Hashtag Stats</h3>
                    <pre>[[hashtagstats]]</pre>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Tweets</h3>
            <ul>
                <li ng-repeat="tweet in tweets">[[tweet.content]]</li>
            </ul>
            <hr />
            <h3>Team Stats</h3>
            <ul>
                <li ng-repeat="stat in teamstats">[[stat.team_name]] ([[stat.van_name]]): [[stat.tweet_count]], [[stat.insta_count]]</li>
            </ul>
            <hr />
            <h3>Member Stats</h3>
            <ul>
                <li ng-repeat="stat in memberstats">[[stat.display_name]]: [[stat.tweet_count]], [[stat.insta_count]]</li>
            </ul>
            <hr />
            <h3>Hashtag Stats</h3>
            <ul>
                <li ng-repeat="stat in hashtagstats">[[stat.hashtag]]: [[stat.tweet_count]], [[stat.insta_count]], [[stat.verified_count]], [[stat.unverified_count]]</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %} {% block javascript %}
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<script src="{{ STATIC_URL }}js/angular.js"></script>
<script src="{{ STATIC_URL }}js/angular-ui-router.min.js"></script>
<script src="{{ STATIC_URL }}js/leaflet.markercluster.js"></script>
<script src="{{ STATIC_URL }}js/angular-mapbox.min.js"></script>
<script src="{{ STATIC_URL}}js/app.js"></script>
<script src="{{ STATIC_URL}}js/controllers.js"></script>
<script src="{{ STATIC_URL}}js/directives.js"></script>
<script src="{{ STATIC_URL}}js/services.js"></script>
{% endblock %}
