.angular-mapbox-map {
  width: 100% !important;
  /* Set the fixed height of the footer here */
}

.nav-margin {
	margin: 0 !important;
}

.insta {
	padding: 5px !important;
	overflow-x: auto !important;
}

.tweets-header {
	height: 30px !important;
}

.tweets {
	height: 470px !important;
	overflow-y: auto !important;
}

.new_tweet {
	border-style: solid !important;
	border-left: thick double #ff0000;
}